<body class="splash">
 <div class="container text-center">
  <div class="jumbotron vertical-center">

      <h2>Let's Run! Workout Manager</h2>
      <br>
      <h3>We Run Marathons and Keep Track!</h3>
      <br>
      <%= link_to new_runner_registration_path, class: "btn btn-danger" do %>
        <i class="glyphicon glyphicon-road"></i> Let's Get Running
      <% end %>
    </div>
</div>
</body>
