<div class="col-mid-8 col-md-offset-2">
  <h1>Change Workout</h1>

  <%= simple_form_for @workout do |f| %>
    <%= f.input :description %>
    <%= f.input :miles %>
    <%= f.button :submit %>
  <% end %>
</div>
