<div class="container center">
<div class="transbox">
  <h2><%= @workout.description %></h2>
  <h2><%= @workout.miles %></h2>
  <%= link_to "Back", root_path %>
  <%= link_to "Update", edit_workout_path(@workout) %>
</div>
</div>
