body {
  background-image: url("bkg.jpeg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;

  }
  .jumbotron {
      opacity: 0.75 !important;
  }
