
#transbox {
  min-width: 250px;
  max-width: 250px;
  max-height: 200px;
  min-height: 200px;
  float: left;
  display: inline;
  margin-top: 20px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 13px;
  position: relative;
  -moz-box-shadow: 10px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: white;
  opacity: .75;
}
